name: morning
on:
  schedule:
    # 每天新西兰时间 9 点运行 → UTC 前一天 20 点（夏令时）
    - cron: '0 22 * * *'
  workflow_dispatch:

jobs:
  send_message:
    runs-on: ubuntu-latest
    name: Send morning Bark notification

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          architecture: 'x64'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Bark script
        run: python main.py
